.about {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;

    p {
      text-align: center;
      padding: 0 15rem;
    }
  }

  &__numbers {
    display: flex;
    justify-content: center;

    margin: auto;

    > div {
      padding: 1rem 2rem;
      text-align: center;

      &:not(:last-child) {
        position: relative;

        &::after {
          position: absolute;
          right: 0;
          top: 0;
          content: '';
          width: 0.2rem;
          height: 12rem;
          background-color: #e6e6e6;
          opacity: 0.5;
        }
      }

      p:first-child {
        font-size: 8rem;
        font-weight: bold;
        color: #0864b1;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__content {
      margin-bottom: 8rem;

      p {
        padding: 0 10rem;
      }
    }

    &__numbers {
      > div {
        p:first-child {
          font-size: 6rem;
        }

        &:not(:last-child)::after {
          height: 9rem;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__content {
      margin-bottom: 7rem;

      p {
        padding: 0 3rem;
      }
    }

    &__numbers {
      > div {
        p:first-child {
          font-size: 5rem;
        }

        &:not(:last-child)::after {
          height: 7rem;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    &__content {
      margin-bottom: 4rem;

      p {
        padding: 0;
      }
    }

    &__numbers {
      > div {
        p:first-child {
          font-size: 3.5rem;
        }
      }
    }
  }
}
