.header {
  background-color: #0864B1;
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 7rem 12.5rem 6rem 12.5rem;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;

      li {
        list-style: none;

        a {
          color: white;
          text-decoration: none;
          font-size: 3rem;
        }

        &:not(:last-child) {
          margin-right: 12rem;
        }
      }
    }
  }

  &__content {
    color: white;
    display: flex;
    align-items: center;
    margin-top: 6rem;

    > div {

      &:first-child {
        flex: .6;

        h1 {
          font-size: 8rem;
          font-weight: bold;
          margin-bottom: 3rem;
        }

        p {
          padding-right: 9rem;
          font-size: 3rem;
        }
      }

      &:nth-child(2) {
        flex: .4;
        padding-right: 3rem;

        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}